[Unit]
Description=Runs pscircle to continuosly update descktop wallpaper 

[Service]
Environment=DISPLAY=:0
ExecStart=/bin/bash -c "while true; do pscircle; sleep 30; done"

[Install]
WantedBy=graphical.target
